#codeArea {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 500px;
    padding: 10px;
}

#input {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    margin-right: 5px;
    overflow: auto;
}

#output {
    width: 99%;
    margin-left: 5px;
    overflow: auto;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.inputTextArea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
    font-size: 14pt;
}

.hint {
    display: none;
}

.CodeMirror {
    font-size: 16pt;
}

#lessons {
    position: relative;
    width: auto;
    height: 60px;
    left: -70px;
    top: 4px;
}

.lessons li {
    position: relative;
    text-indent: 30px;
    height: 56px;
    background-color: #767676;
    display: inline-block;
    margin-left: 30px;
    padding: 10px 10px 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}

ul.lessons {
    list-style: none;
}

li.lessonBtn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 29px solid transparent;
    margin: -10px 90px 0 9px;
}

li.lessonBtn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 28px solid transparent;
    border-left: 30px solid white;
    border-bottom: 29px solid transparent;
    margin: -10px 0px 0px -2px;
}

li.lessonBtn {
    background-color: #239240;
}

li.lessonBtn:after {
    border-left: 30px solid #239240;
}

li.lessonBtn:hover {
    cursor: pointer;
    background-color: #030914;
    transition: all 0.4s ease-in-out;
}

li.lessonBtn:hover:after {
    border-left: 30px solid #030914;
    transition: all 0.4s ease-in-out;
}

.hintBtn {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #239240;
    border-radius: 4px;
    padding: 10px 24px;
    background-color: #239240;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
}
  
.hintBtn:hover {
    background-color: #030914;
    color: #fff;
    border-color: #030914;
}

.line {
    height: 20px;
    border-bottom: solid 2px #000;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.videos {
    width: 100%;
    display: flex;
    margin-top: 12px;
}

.videoCard {
    padding: 6px;
    background-color: #e2e2e2;
    width: max-content;
    margin-right: 10px;
}

.challenges {
    background-color: #e2e2e2;
    padding: 8px;
    border-radius: 3px;
}

iframe {
    width: 50%;
    border: 1px solid black;
}

.videoiframe {
    width: 100% !important;
    border: none;
}


#javascript,
#css,
#html {
    display: none;
}