* {
    font-family: Verdana, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

aside {
    width: 20%;
    padding-left: 3%;
    margin-top: 45px;
    float: right;
    clear: right;
}

main {
    width: 80%;
    margin-top: 10px;
}

p {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;  */
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

p,
h2,
h3,
h4,
label,
a {
    color: #2e2e2e;
}

p,
a {
    font-size: 1.2em;
}

a {
    cursor: pointer;
}

img {
    width: 100%;
}

header {
    width: 100%;
    background-color: #030914;
    color: white;
    display: inline-flex;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    ;
}

h1 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.bold-larger {
    font-weight: 600;
    font-size: larger;
}

.italic-larger {
    font-style: italic;
    font-size: larger;
}

.italic-smaller {
    font-style: italic;
    font-size: smaller;
    line-height: 40px;
}

.italic {
    font-style: italic;
    line-height: 40px;
}

.indent {
    margin-left: 25px;
}

#topBar {
    width: 100%;
    background-color: #f8f8f8;
    height: 65px;
    box-shadow: 1px 0px 5px .5px rgba(0, 0, 0, 0.3);
}

nav ul {
    padding-left: 0;
}

#topnav {
    float: right;
}

#topnav a {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    background-color: #f0ce9c;
    padding: 10px 15px 10px 15px;
    vertical-align: sub;
    color: #140D03;
    padding-right: 75px;
    padding-left: 75px;
    border-radius: 2px;
}

#topnav a:link {
    text-decoration: none;
}

#topnav a:visited {
    color: #140D03D0;
}

#topnav a:hover {
    background-color: #140F03D9;
    color: white;
    font-size: 1.7em;
    transition: .8s;
}

#topnav a:active {
    background-color: #140F03D9;
    color: white;
}

#topnav ul {
    margin-top: 10px;
    list-style-type: none;
}

#topnav li {
    display: inline;
    vertical-align: middle;
}

#sidenav {
    text-decoration: none;
}

#sidenav a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 400;
    letter-spacing: .1rem;
    font-weight: 600;
}

#sidenav a:link {
    text-decoration: none;
}

#sidenav a:visited {
    color: #140D03D0;
}

#sidenav a:hover {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.4em;
    font-weight: 600;
    transition: .8s ease-out;
}

#sidenav a:active {
    color: #2e2e2e;
}

#sidenav ul {
    list-style-type: none;
}

#sidenav li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#search {
    display: inline-flex;
}

#searchbar {
    width: 280px;
    float: right;
    background: url('images/icons8-search-120.png') no-repeat;
    background-position: 240px 7px;
    background-size: 27px 27px;
    font-size: 1.3em;
    border-radius: 8px;
    line-height: 2em;
    margin-left: 1.3em;
    margin-right: 1px;
    padding: 0 5px;
    color: #2e2e2e;
    border: 1px solid #2e2e2e;
}

#searchbtn {
    border: none;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

#searchbar::-webkit-input-placeholder {
    color: #b9b9b9;
}

footer {
    background-color: #030914;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    background-color: #140F03D9;
    color: white;
}

.onefourth {
    background-color: #030914;
    color: white;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 80px;
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.activePage {
    background-color: #1caee3 !important;
    color: white !important;
}

@media only screen and (max-width: 1596px) {

    /* /Tablets [601px -> 1200px]/ */
    #topnav {
        float: none !important;
        margin-top: -16px;
    }

    #topnav a {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 0px;
        margin-bottom: 1px;
    }

    #search{ 
        float: right;
        margin-top: 10px;
    }

    #topBar {
        padding-bottom: 252px;
        background-color: transparent;
        box-shadow: none;
    }

    #codeArea {
        display: flex;
        flex-direction: column;
        height: 800px !important;
    }

    #input {
        width: 99% !important;
        height: 50% !important;
    }

    #outputContent {
        width: 99%;
        height: 50%;
    }

    aside {
        display: none;
    }

    main {
        width: 100%; 
        margin-top: 40px;
    }

    .videos {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-items: center;
    }

    footer a {
        font-size: .7rem;
    }
    
}

@media only screen and (max-width: 1000px) {

    /* /Big smartphones [426px -> 600px]/ */
    #wrapper {
        width: 90%;
    }

    #topnav {
        margin-top: -17px;
    }

    #topnav a {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }

    #search {
        width: 100%;
    }

    #searchbar {
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }

    #searchbtn {
        margin-left: 5px;
        margin-top: 10px;
        margin-right: 0px;
        border: 1px solid #016e95;
        border-radius: 5px;
        background-color: #1caee3;
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }

    h2 {
        margin-top: 40px;
    }

    #sidenav {
        display: none;
    }

    h1 {
        display: none;
    }

    #cwjLogo {
        height: 75px;
    }

}

@media only screen and (max-width: 780px) {
    /* /Big smartphones [426px ->600px]/ */
    .videos {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    video {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    /* /Small smartphones [325px ->425px]/ header, */
    #topnav a,
    #topnav ul {
        box-shadow: none;
    }

    h1 {
        display: none;
    }

    header {
        height: 100%;
    }

    #topnav a {
        font-size: 12pt;
    }

    #searchbar {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h2 {
        margin-top: 10px;
    }
}