* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

aside {
    width: 20%;
    padding-left: 5%;
    margin-top: 45px;
    float: right;
    clear: right;
}

main {
    width: 80%;
    margin-top: 10px;
}

img {
    width: 100%;
}

header {
    width: 100%;
    background-color: #030914;
    color: white;
    display: inline-flex;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    ;
}

h1 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

#topBar {
    width: 100%;
    background-color: #f8f8f8;
    height: 65px;
    box-shadow: 1px 0px 5px .5px rgba(0, 0, 0, 0.3);
}

nav ul {
    padding-left: 0;
}

#topnav {
    float: right;
}

#topnav a {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    background-color: #f0ce9c;
    padding: 10px 15px 10px 15px;
    vertical-align: sub;
    color: #140D03;
    padding-right: 75px;
    padding-left: 75px;
}


#topnav a:link {
    text-decoration: none;
}


#topnav a:visited {
    color: #140D03D0;
}

#topnav a:hover {
    background-color: #140F03D9;
    color: white;
}

#topnav a:active {}

#topnav a:focus {}

#topnav ul {
    list-style-type: none;
}

#topnav li {
    display: inline;
    vertical-align: middle;
}

#sidenav {
    text-decoration: none;
}

#sidenav a {
    text-decoration: none;
}

#sidenav ul {
    list-style-type: none;
}

#sidenav li {
    margin-left: 10px;
    margin-right: 10px;
}

#searchbar {
    float: right;
    width: 280px;
    background-image: url(images/icons8-search-120.png);
    background-position: 240px 7px;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    font-size: 1.3em;
    border-radius: 8px;
    line-height: 2em;
    margin-top: -6px;
    margin-left: 1.3em;
    margin-right: 1em;
    padding: 0 5px;
    color: #1DBBF8;
}

#searchbar::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #1DBBF8;
}

footer {
    background-color: #030914;
}

footer a:link {
    text-decoration: none;
}


footer a:visited {
    color: white;
}

footer a:hover {
    background-color: #140F03D9;
    color: white;
}

footer a:active {}

footer a:focus {}

.onefourth {
    background-color: #030914;
    color: white;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 80px;
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

